@media (min-width: 60em){
    .big-weather-data{
        grid-template-columns: 19rem 19rem auto;
    }
    .img-forecast{
        display: block;
        width: 18rem;
        border-style: groove;
        border-color: rgba(78, 70, 67, 0.4);
    }

    .img-forecast img{
        margin:0px 1rem 0.5rem 1rem;
    }
    .img-forecast h3{
        margin-top: 0.5rem;
        margin-left: 1rem;
    }

}