@import url("https://fonts.googleapis.com/css2?family=Anton&family=Gentium+Basic&display=swap");

body{
    background-color: white;
    font-family: "Gentium Basic", serif;
}

#index-content{
    background-color: white;
    margin: 1.5rem auto;
    max-width: 760px;
    border-radius: 8px;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #aa8439;
    text-align: center;
    align-items: center;
	justify-content: center;
    border-radius: 8px 8px 0px 0px;
    padding: 0.1rem;
    border-width: 0.5rem;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    height: 180px;
}

h1{
    text-align: center;
    font-size: 2.7rem;
    font-family: "Anton", sans-serif;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
}

h2{
    text-align: center;
    margin: 1.6rem;
    margin-bottom: 0px;
}

nav{
    text-align: center;
    background-color:  #aba361;
}

.navigation{
    list-style: none;
	padding: 0;
}

.navigation li {
	display: none;
}

.navigation li:first-child{
    display: block;
}

.responsive li{
    display: block;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover{
    background-color: #d3c26a;
}

.active{
    background-color: #d3c26a;
}

.contentbox {
    background-color: #d8c09e;
    border: 100px;
    padding: .6rem;
    margin: 1rem;
}

footer{
    border-radius: 8px;
    padding: 0.1rem;
    background-color: #aba361;
}

footer p a{
    color: black;
}

.Updated, .CopyRight{
    text-align: center;
    margin: 2% auto;
    padding: 0px;
}