@media (min-width: 670px) {
    .navigation{
        display: flex;
    }
    .navigation li{
        display: block;
        flex:1 1 100%;
    }
    .navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
    }
    header{
        flex-direction: row;
        border-bottom-style: solid;
        border-bottom-color: #d3c26a;
    }
    h1{
        margin: auto;
    }

    .hero{
        grid-template-columns: 16rem auto;
        grid-template-rows: 9.4rem auto;
    }

    section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section p{
        grid-column: 1/2;
    }
    section h3{
        grid-column: 1/2;
    }
    section img{
        grid-row: 1/6;
        grid-column: 2/3;
    }

    .contact p:nth-child(1){
        grid-row: 2/3;
    }

    .contact p:nth-child(2){
        grid-row: 3/4;
    }

    .contact p:nth-child(3){
        grid-row: 4/5;
    }

    .contact{
        grid-template-columns: 20rem auto;
        grid-template-rows: 5.5rem 1rem 1rem 1rem 5.5rem;
    }

    .contact img{
        display: block;
        width: 20rem;
        grid-column: 1/2;
        grid-row: 1/5;
    }

    footer{
        font-size: 1rem;
    }
}