/*@import url("https://fonts.googleapis.com/css2?family=Anton&family=Gentium+Basic&display=swap");*/

body{
    background-color: white;
    font-family: "Gentium Basic", serif;
}

#index-content{
    background-color: white;
    margin: 1.5rem auto;
    max-width: 1000px;
    border-radius: 8px;
}

#notification {
	display: none;
	padding: 1em;
	text-align: center;
	color: black;
	background-color: #f8b62c;
}

#notification.show {
	display: block;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #aa8439;
    text-align: center;
    align-items: center;
	justify-content: center;
    border-radius: 0px;
    padding: 0.1rem;
    border-width: 0.5rem;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    height: 180px;
}

h1{
    text-align: center;
    font-size: 2.7rem;
    font-family: "Anton", sans-serif;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
}

/* start code to nav*/
nav{
    text-align: center;
    background-color:  #aba361;
}

.navigation{
    list-style: none;
	padding: 0;
}

.navigation li {
	display: none;
}

.navigation li:first-child{
    display: block;
}

.responsive li{
    display: block;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover{
    background-color: #d3c26a;
}

.active{
    background-color: #d3c26a;
}
/*end code to nav*/

.hero{
    margin-bottom: 0.98rem;
}
.hero picture img{
    width: 100%;
}

section, .article, .contact{
    background-color: #d8c09e;
    text-align: center;
    padding: 0px 0px 0.6rem 0px;
}

h3{
    background-color: #d3c26a;
    margin: 0px 0px 0.6rem 0px;
}
.cards {
    display: grid;
    gap: 1.15rem;
    grid-template-columns: 100%;
    justify-content: center;
}

h2{
    background-color: #d3c26a;
    margin: 0px;
}

/* h2.welcome{
    text-align: center;
    font-size: 2rem;
    margin: 1.6rem;
    margin-bottom: 0px;
} */

section p{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.article{
    margin-top: 1.3rem;
}

.contact{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 0.05rem;
    padding: 0.6rem;
    margin-top: 1.3rem;
    background-color: #d8c09e;
}

.contact img{
    display: none;
}

.contact p{
    margin: 0px;
}

footer{
    font-size: 0.9rem;
    border-radius: 0px 0px 8px 8px;
    padding: 0.1rem;
    background-color: #aba361;
}

footer p a{
    color: black;
}

.Updated{
    text-align: center;
    margin: 0.4% auto 2% auto;
}

.CopyRight{
    text-align: center;
    margin: 2% auto 0.4% auto;
}
