@media (min-width: 670px) {
    .navigation{
        display: flex;
    }
    .navigation li{
        display: block;
        flex:1 1 100%;
    }
    .navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
    }
    header{
        flex-direction: row;
        border-bottom-style: solid;
        border-bottom-color: #d3c26a;
    }
    h1{
        margin: auto;
    }

    form label.sbs {
        padding: 0.25rem 0;
      }

    form label.top, form label.top1,
  form div, textarea {
    display: grid;
    grid-template-columns: 55% 1fr;
  }

  form label.top input, form label.top1 input, form label.top select{
      grid-column: 1/2;
  }

  form textarea{
      grid-column: 1/3;
  }

  form input.submit-button{
      width: 53%;
  }

  #currentRating{
      grid-column: 1/2;
  }
    
    footer{
        font-size: 1rem;
    }
}