@media (min-width: 670px) {
    .navigation{
        display: flex;
    }
    .navigation li{
        display: block;
        flex:1 1 100%;
    }
    .navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
    }
    header{
        flex-direction: row;
        border-bottom-style: solid;
        border-bottom-color: #d3c26a;
    }
    h1{
        margin: auto;
    }

    .hero{
        grid-template-columns: 16rem auto;
        grid-template-rows: 9.4rem 4.9rem;
    }

    .forecast-title{
        display: block;
    }

    .forecast{
        background-color: #d8c09e;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .forecast img{
        width: 2rem;
    }

    footer{
        font-size: 1rem;
    }
}